.btn
    background: transparent
    border: none
    cursor: pointer
    text-decoration: none
    font-family: var(--font-helvetica-regular)

    &__order
        grid-column: 1 / span 3
        background: var(--color-black)
        color: var(--color-white)
        line-height: 51px
        font-size: 16px
        font-weight: 700
        margin: 0 0 10px
        font-family: var(--font-helvetica-bold)