.btn
    background: transparent
    border: none
    cursor: pointer
    text-decoration: none
    font-family: var(--font-helvetica-regular)

    &__size
        width: 30px
        height: 30px
        border-radius: 6px
        background: var(--color-gray-trans)
        display: grid
        place-content: center
        font-weight: 400
        font-size: 12px
        line-height: 15px
        transition: all var(--effect-transition)

        &:disabled
            color: var(--color-gray-ligth)

        &:not([disabled]):hover
            background: var(--color-gray)

        

    &__icon
        color: var(--color-black)
        fill: currentColor
        transition: color var(--effect-transition)
        &:hover
            color: var(--color-gray)
    
    &__return
        font-weight: 400
        font-size: 14px
        line-height: 18px

    &__close
        width: 22px
        height: 22px
        margin-left: auto

    &__order
        grid-column: 1 / span 3
        background: var(--color-black)
        color: var(--color-white)
        line-height: 51px
        font-size: 16px
        font-weight: 700
        margin: 0 0 10px
        font-family: var(--font-helvetica-bold)
        transition: all var(--effect-transition)

        &:disabled
            background: var(--color-gray-ligth)
            color: var(--color-gray)

        &:not([disabled]):hover
            background: var(--color-gray)

    &__controls
        position: relative
    
    &__burger
        display: none
        &:after, span
            background: var(--color-black)
            content: ""
            display: block
            
            border-radius: 3px
            //margin: 7px 0
        span
            width: 32px
            height: 1.5px
        &:after
            width: 18px
            height: 2px
