*
    margin: 0
    padding: 0
    box-sizing: border-box

*::before, *::after
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: var(--font-helvetica-regular)

img
    max-width: 100%
    border: none
    vertical-align: top

.container
    max-width: 1200px
    width: calc( 100% - 16px )
    margin: 0 auto

.grid
    display: grid !important

.rub  
    line-height: 5px
    width: 0.4em
    border-bottom: 1px solid #000 
    display: inline-block
 
@import options, fonts, header, buttons, breadcrums, order, checkbox, radio, media

