* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-helvetica-regular);
}

img {
  max-width: 100%;
  border: none;
  vertical-align: top;
}

.container {
  max-width: 1200px;
  width: calc(100% - 20px);
  margin: 0 auto;
}

:root {
  --color-black: #000000;
  --color-gray: #6E6E6E;
  --color-gray-ligth: #C8C8C8;
  --color-gray-trans: #F1F1F1;
  --color-white: #FFFFFF;
  --color-red: #D92C2C;
  --color-green: #007E06;
  --color-blue: #106DA2;
  --color-brown: #AE6D0C;
  --color-black-light: #444444;
  --effect-hover: 2px 2px 15px rgba(0, 0, 0, 0.1);
  --effect-transition: 0.3s;
  --font-helvetica-regular: "Helvetica_regular";
  --font-helvetica-bold: "Helvetica_bold";
}

@font-face {
  font-family: "Helvetica_regular";
  src: url("../fonts/helvetica_regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica_bold";
  src: url("../fonts/helvetica_bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.header {
  border-bottom: 0.5px solid var(--color-gray-ligth);
  padding: 25px 0;
  margin: 0 0 50px;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  gap: 40px;
}
.header-nav__link {
  text-decoration: none;
  color: var(--color-black);
}
.header-logo {
  width: 100px;
  height: 22px;
}
.header-controls {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-controls__favorite, .header-controls__card {
  position: relative;
}
.header-controls__number {
  display: grid;
  place-content: center;
  width: 15px;
  border-radius: 50%;
  color: var(--color-white);
  background: var(--color-black);
  position: absolute;
  right: -4px;
  top: -5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-helvetica-regular);
}
.btn__order {
  grid-column: 1/span 3;
  background: var(--color-black);
  color: var(--color-white);
  line-height: 51px;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 10px;
  font-family: var(--font-helvetica-bold);
}

.breadcrums {
  color: var(--color-gray);
  margin: 0 0 40px;
}
.breadcrums__body {
  display: flex;
  gap: 24px;
  list-style: none;
}
.breadcrums__item {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  position: relative;
}
.breadcrums__item::after {
  content: "/";
  position: absolute;
  color: var(--color-gray);
  right: -10px;
}
.breadcrums__item:last-of-type::after {
  content: none;
}
.breadcrums__item_active {
  color: var(--color-black);
}
.breadcrums__link {
  color: inherit;
  text-decoration: none;
}

.order-body {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 40px;
}
.order__left {
  display: grid;
  gap: 187px;
}
.order-header {
  display: flex;
  gap: 20px;
  margin: 0 0 60px;
}
.order-header__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
}
.order-header__login {
  align-self: end;
}
.order-header__login-body {
  display: flex;
  list-style: none;
  gap: 5px;
}
.order-header__login-item:first-of-type {
  color: var(--color-gray);
}
.order-header__login-link {
  color: var(--color-black);
  text-decoration: none;
}
.order-block {
  display: grid;
  gap: 25px;
  margin: 0 0 40px;
}
.order-block__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  margin: 0 0 30px;
}
.order-card {
  display: flex;
  padding: 25px 0;
  width: 100%;
  border-top: 0.5px solid var(--color-gray-ligth);
  border-bottom: 0.5px solid var(--color-gray-ligth);
}
.order-card__img-block {
  width: 130px;
  height: 160px;
  margin-right: 20px;
}
.order-card__descr {
  max-width: 197px;
  margin-right: 10px;
}
.order-card__price {
  margin-right: 30px;
}
.order-card__number {
  background: var(--color-gray-trans);
  padding: 5px 10px;
  border-radius: 5px;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 30px;
}
.order-card__number_minus, .order-card__number_plus, .order-card__number_total {
  background: transparent;
  border: none;
  display: grid;
  place-content: center;
}
.order-card__number_minus, .order-card__number_plus {
  cursor: pointer;
  width: 32px;
  height: 32px;
}
.order-card__number_total {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.order-card__delete {
  height: fit-content;
}

.descr span {
  color: var(--color-black);
}
.descr-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 15px;
}
.descr-article, .descr-season {
  color: var(--color-gray);
  margin: 0 0 10px;
}
.descr-size {
  display: flex;
  list-style: none;
  gap: 5px;
  margin: 0 0 12px;
}
.descr-size__item {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background: var(--color-gray-trans);
  display: grid;
  place-content: center;
  cursor: pointer;
}
.descr-size__item_active {
  background: var(--color-black);
}
.descr-size__item_active .descr-size__btn {
  color: var(--color-white);
}
.descr-size__btn {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.descr-color {
  display: flex;
  list-style: none;
  gap: 5px;
}
.descr-color__input {
  display: none;
}
.descr-color__item {
  border-radius: 50%;
}
.descr-color__item span {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.descr-color__item-black .descr-color__input:checked ~ .descr-color__label {
  border: 1px solid var(--color-black);
}
.descr-color__item-black .descr-color__label span {
  background: var(--color-black);
}
.descr-color__item-blue .descr-color__input:checked ~ .descr-color__label {
  border: 1px solid var(--color-blue);
}
.descr-color__item-blue .descr-color__label span {
  background: var(--color-blue);
}
.descr-color__item-brown .descr-color__input:checked ~ .descr-color__label {
  border: 1px solid var(--color-brown);
}
.descr-color__item-brown .descr-color__label span {
  background: var(--color-brown);
}
.descr-color__label {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
}

.price {
  font-weight: 400;
}
.price_last {
  margin-right: 10px;
}
.price__main {
  font-size: 12px;
  line-height: 15px;
  color: var(--color-gray);
  text-decoration: line-through;
}
.price__sale {
  font-size: 20px;
  line-height: 24px;
  color: var(--color-black);
}

.aside-block {
  border: 1px solid var(--color-gray);
  padding: 30px 20px;
}
.aside-block__list {
  list-style: none;
  padding: 0 0 20px;
  border-bottom: 1px solid var(--color-gray-ligth);
  margin: 0 0 20px;
}
.aside-block__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: 400;
  font-size: 20px;
  ine-height: 24px;
}
.aside-block__item-text {
  justify-self: end;
}
.aside-block__item_promo, .aside-block__item_total {
  margin: 0 0 20px;
}
.aside-block__item_total .aside-block__item-text {
  font-weight: 700;
}
.aside-block__item_sale .aside-block__item-text {
  color: var(--color-red);
  font-weight: 700;
}
.aside-block__item_sale, .aside-block__item_stock {
  margin: 0 0 8px;
}
.aside-block__item_promo .aside-block__item-text, .aside-block__item_stock .aside-block__item-text {
  color: var(--color-red);
}
.aside-block__item_deviliry .aside-block__item-text {
  font-weight: 700;
}
.aside-block__deviliry {
  display: grid;
  grid-template-columns: 1fr 41px;
  gap: 6px;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid var(--color-gray-ligth);
}
.aside-block__deviliry-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.aside-block__deviliry-subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-gray);
}
.aside-block__deviliry-select {
  grid-column: 2/3;
  grid-row: 1/span 2;
}
.aside-block__total {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.aside-block__total-text, .aside-block__total-number {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  margin: 0 0 20px;
}
.aside-block__total-promo {
  grid-column: 1/span 3;
  width: 100%;
}
.aside-block__total-input {
  width: 100%;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 20px;
}
.aside-block__total-number {
  justify-self: end;
}
.aside-block__total-policity {
  grid-column: 1/span 3;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-gray);
}
.aside-block__total-policity a {
  color: inherit;
}

.contact {
  display: grid;
}
.contact__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  margin: 0 0 30px;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 0 0 40px;
}
.form-block {
  width: 100%;
  position: relative;
}
.form-block_address {
  grid-column: 1/span 2;
}
.form-block__after {
  display: none;
  position: absolute;
  top: -9px;
  left: 15px;
  font-size: 12px;
  line-height: 15px;
  background: var(--color-white);
  padding: 0 5px;
  color: var(--color-gray);
}
.form-block__input {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid var(--color-gray-ligth);
  outline: none;
}
.form-block__input:focus {
  border: 1px solid var(--color-gray);
}
.form-block__input:focus ~ .form-block__after {
  display: block;
}

.payment__list {
  display: grid;
  gap: 20px;
}
.payment__variant {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.payment__input {
  display: none;
}
.payment__label {
  position: relative;
}
.payment__label::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
}

.checkbox-google {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  user-select: none;
}

.checkbox-google-switch {
  display: inline-block;
  width: 36px;
  height: 14px;
  border-radius: 20px;
  position: relative;
  top: 6px;
  vertical-align: top;
  background: var(--color-gray-ligth);
  transition: var(--effect-transition);
}

.checkbox-google .checkbox-google-switch:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -3px;
  left: -1px;
  background: var(--color-gray);
  border-radius: 50%;
  transition: var(--effect-transition);
}

.checkbox-google input[type=checkbox] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-google input[type=checkbox]:checked + .checkbox-google-switch {
  background: var(--color-gray-ligth);
}

.checkbox-google input[type=checkbox]:checked + .checkbox-google-switch:before {
  background: var(--color-black);
  transform: translateX(18px);
}

/* Hover */
.checkbox-google input[type=checkbox]:not(:disabled) + .checkbox-google-switch {
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.3);
}

/* Active/Focus */
@keyframes checkbox-active-on {
  0% {
    box-shadow: 0 0 0 0 rgba(212, 212, 212, 0);
  }
  99% {
    box-shadow: 0 0 0 10px rgba(212, 212, 212, 0.5);
  }
}
@keyframes checkbox-active-off {
  0% {
    box-shadow: 0 0 0 0 rgba(154, 190, 247, 0);
  }
  99% {
    box-shadow: 0 0 0 10px rgba(154, 190, 247, 0.5);
  }
}
/* Disabled */
.checkbox-google input[type=checkbox]:disabled + .checkbox-google-switch {
  filter: grayscale(60%);
  border-color: rgba(0, 0, 0, 0.1);
}

.checkbox-google input[type=checkbox]:disabled + .checkbox-google-switch:before {
  background: #eee;
}